body{
    margin: 0;
    padding: 0;
    background: #1E90FF
}

.advancedSearch, .simpleSearch{
    margin-left: 85%;
    color: yellow;
} 
.ShakerLogo {
    display: block;
    margin-top: 2%;
    /* margin-bottom: ; */
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
.searchBar{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FAFAD2;
    height: 40px;
    border-radius: 40px;
    padding: 5px;

}

.searchButton{
    /* color: aquamarine; */
    background-image: "Shaker Mani";
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;

}
.searchText{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size:16px;
    transition: 0.4s;
    line-height:40px;
    width: 240px;
}

