{% extends "base.html" %}

{% block basicSearch %}
<h2> <a class="advancedSearch" href = "/"> Basic Search </a></h2>
{% endblock %}

{% block content %}

<!-- <div class="searchBar">
    <form action= "#" method="POST" autocomplete=off>
        <input id="MySearchTerm" type="text", name="query", onkeydown="AutoComplete()">
        <input type="submit" value="search">
    </form>
    <script type="text/javascript" src="../static/javascript/AutoComplete.js" defer> </script>
</div> -->


<form method="POST" action="#" autocomplete=off>
    <div id="dropdownWrapper">
        <div class="dropdown">
            <button class="dropbtn" disabled>Supporting Articles</button> <!--Maybe the problem has to do with the button -->
            <div class="dropdown-content">
                <input type="checkbox" id="vehicle1" name="checkbox" value="Editorials">
                <label for="vehicle1"> Editorials</label><br>
                <input type="checkbox" id="vehicle2" name="checkbox" value="Moral & religious lessons">
                <label for="vehicle2"> Moral/religious lessons</label><br>
                <input type="checkbox" id="vehicle3" name="checkbox" value="Mother Ann Lee">
                <label for="vehicle3"> Mother Ann Lee</label><br>
                <input type="checkbox" id="vehicle4" name="checkbox" value="Biographies">
                <label for="vehicle4"> Biographies</label><br> <!-- for doesn't really do anything -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" disabled>News & Events</button>
            <div class="dropdown-content">
                <input type="checkbox" id="vehicle1" name="checkbox" value="Shaker History">
                <label for="vehicle1"> Shaker History</label><br>
                <input type="checkbox" id="vehicle2" name="checkbox" value="Shaker Community Reports">
                <label for="vehicle2"> Shaker Community Reports</label><br>
                <input type="checkbox" id="vehicle3" name="checkbox" value="Shakers in the Press">
                <label for="vehicle4"> Shakers in the Press</label><br>
                <input type="checkbox" id="vehicle4" name="checkbox" value="National News">
                <label for="vehicle3"> National News</label><br>
                <input type="checkbox" id="vehicle5" name="checkbox" value="World News">
                <label for="vehicle4"> World News</label><br>
                <input type="checkbox" id="vehicle6" name="checkbox" value="Historical Events">
                <label for="vehicle4"> Historical Events</label><br>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" disabled>Collections</button>
            <div class="dropdown-content">
                <input type="checkbox" id="vehicle1" name="checkbox" value="Collections">
                <label for="vehicle1"> Collections</label><br>
                <input type="checkbox" id="vehicle2" name="checkbox" value="Food">
                <label for="vehicle2"> Food</label><br>
                <input type="checkbox" id="vehicle3" name="checkbox" value="Recipes">
                <label for="vehicle3"> Recipes</label><br>
                <input type="checkbox" id="vehicle4" name="checkbox" value="Health and Sanitation">
                <label for="vehicle4"> Health and Sanitation</label><br>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" disabled>Farm</button>
            <div class="dropdown-content">
                <input type="checkbox" id="vehicle1" name="checkbox" value="Farming">
                <label for="vehicle1"> Farming</label><br>
                <input type="checkbox" id="vehicle2" name="checkbox" value="Livestock">
                <label for="vehicle2"> Livestock</label><br>
                <input type="checkbox" id="vehicle3" name="checkbox" value="Crops">
                <label for="vehicle3"> Crops</label><br>
                <input type="checkbox" id="vehicle4" name="checkbox" value="Equipment">
                <label for="vehicle4"> Equipment</label><br>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" disabled>Literature</button>
            <div class="dropdown-content">
                <input type="checkbox" id="vehicle1" name="checkbox" value="Poetry">
                <label for="vehicle1"> Poetry</label><br>
                <input type="checkbox" id="vehicle2" name="checkbox" value="Humor">
                <label for="vehicle2"> Humor</label><br>
                <input type="checkbox" id="vehicle3" name="checkbox" value="Sayings">
                <label for="vehicle3"> Sayings</label><br>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" disabled>Music & Dance</button>
            <div class="dropdown-content">
                <input type="checkbox" id="vehicle1" name="checkbox" value="General">
                <label for="vehicle1"> General</label><br>
                <input type="checkbox" id="vehicle2" name="checkbox" value="Hymns">
                <label for="vehicle2"> Hymns</label><br>
                <input type="checkbox" id="vehicle3" name="checkbox" value="Dance">
                <label for="vehicle3"> Dance</label><br>
            </div>
        </div>
    </div> 
    <div class="searchBar">
        <!-- <div class="searchBar"> -->
        <input id="MySearchTerm" type="text", name="query", onkeydown="AutoComplete()">
        <input type="submit" value="search" class="searchButton">
</form>
<script type="text/javascript" src="../static/javascript/AutoComplete.js" defer> </script>
</div>
{% endblock %}