{% extends "base.html" %}

{% block basicSearch %}
<h2> <a class="simpleSearch" href = "/"> Basic Search </a></h2>
{% endblock %}

{% block content %}
<div class = "volumeAndIssue">
    <p>Browse by volume and issue</p>
</div>
<div class = "volume">
    <h2>Volume 1 (1871)</h2>
        <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 2 (1872)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 3 (1873)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="Extra" name = "issue">Extra</button> </p>
    <h2>Volume 4 (1874)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 5 (1875)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 6 (1876)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 7 (1877)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 8 (1878)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 9 (1879)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 10 (1880)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 11 (1881)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 12 (1882)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 13 (1883)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 14 (1884)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 15 (1885)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 16 (1886)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 17 (1887)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 18 (1888)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 19 (1889)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 20 (1890)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 21 (1891)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 22 (1892)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 23 (1893)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 24 (1894)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 25 (1895)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 26 (1896)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 27 (1897)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 28 (1898)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    <h2>Volume 29 (1899)</h2> 
    <p>Issue: 
        <button type="submit" value="1" name = "issue">1</button>
        <button type="submit" value="2" name = "issue">2</button>
        <button type="submit" value="3" name = "issue">3</button>
        <button type="submit" value="4" name = "issue">4</button>
        <button type="submit" value="5" name = "issue">5</button>
        <button type="submit" value="6" name = "issue">6</button>
        <button type="submit" value="7" name = "issue">7</button>
        <button type="submit" value="8" name = "issue">8</button>
        <button type="submit" value="9" name = "issue">9</button>
        <button type="submit" value="10" name = "issue">10</button>
        <button type="submit" value="11" name = "issue">11</button>
        <button type="submit" value="12" name = "issue">12</button></p>
    
</div>

{% endblock %}