<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shaker Manifesto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h2> <a class="simpleSearch" href = "index.html"> Simple Search </a></h2>
        <img src="images/Shaker Manifesto Logo.PNG" alt="Shaker logo"width="800" height="200", class = "ShakerLogo" >
        
        <div class="searchBar">
            <input class="searchText" type="text" name="" placeholder="Search">
            <a class="searchButton" href="http://www.google.com"> </a>
        </div>
        
    </div>
</body>
</html>