<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <title> The Shaker Manifesto</title>
    </head>
    <body>
        <div class="container">
            <div id="first">
                <img src="../static/Images/Hamilton Library Logo.PNG" alt="Shaker logo"width="145" height="60", class = "HamiltonLogo" >
            </div>
            
            <div class="advancedWrapper">
                <div class="dropdownA">
                    <button class="dropbtnA">Advanced Search</button>
                    <div class="dropdown-contentA">
                    <a href="articleType.html">Article Type</a>
                    <a href="author.html">Author</a>
                    <a href="volumeIssue.html">Volume & Issue</a>
                    </div>
                </div>
                {% block basicSearch %}
                {% endblock %}
            </div>
            <br> <br><br><br><br><br>
            <img src="../static/Images/Shaker Manifesto Logo.PNG" alt="Shaker logo"width="600" height="150", class = "ShakerLogo">
            {% block content %}
            {% endblock %}
        </div>
        <div class= "footer">
            <p> <a class = "footer" href="http://elib.hamilton.edu/"> ©2020 Hamilton College</a> </p>
        </div>
    
    </body>
</html>