<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shaker Manifesto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Add icon library -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>
<body>
    <div class="container">
        <div id="wrapper">
            <div id="first">
                <a href="http://elib.hamilton.edu/">
                <img src="../static/Images/Hamilton Library Logo.PNG" alt="Shaker logo"width="145" height="60", class = "HamiltonLogo" >
            </div>
            <div id="second">
                <h2> <a class="advancedSearch" href = "advancedSearch.html"> Advanced Search </a></h2>
            </div>
        </div>
        <br>
        <br>
        <img src="../static/Images/Shaker Manifesto Logo.PNG" alt="Shaker logo"width="600" height="150", class = "ShakerLogo" >
        
        <!-- <div class="searchBar">
            <form method="POST">
                <input class="searchText" type="submit" name="query" placeholder="Search">
                <a class="searchButton" href="http://www.google.com"> </a>
            </form>

        </div> -->
        <div class="searchBar">
            <!-- the action needs to be # so that we don't go to another page. and method needs to be post in order to put it in the dict -->
            <form action= "#" method="POST"> 
                <input type="text", name="query">
                <input type="submit" value="search">
            </form>
        </div>
    </div>
    <!-- bootstrap scripts for styling -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>