<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shaker Manifesto</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <h2> <a class="advancedSearch" href = "advancedSearch.html"> Advanced Search </a></h2>
        <img src="../static/Images/Shaker Manifesto Logo.PNG" alt="Shaker logo"width="800" height="200", class = "ShakerLogo" >
        
        <!-- <div class="searchBar">
            <form method="POST">
                <input class="searchText" type="submit" name="query" placeholder="Search">
                <a class="searchButton" href="http://www.google.com"> </a>
            </form>

        </div> -->
        <div class="searchBar">
            <!-- # we want the hash to be something else -->
            <form action= "#" method="POST"> 
                <!-- <p>Login</p> -->
                <input type="text", name="nm">
                <input type="submit" value="submit">
            </form>
        </div>
        
    </div>
</body>
</html>