<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shaker Manifesto</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <!-- <h2> <a class="simpleSearch" href = "index.html"> Simple Search </a></h2> -->
        <img src="../static/Images/Shaker Manifesto Logo.PNG" alt="Shaker logo"width="200" height="85", class = "ShakerLogo" >
        <p>Search results will be displayed here</p>
        <!-- <div class="searchBar">
            <input class="searchText" type="text" name="" placeholder="Search">
            <a class="searchButton" href="http://www.google.com"> </a>
        </div> -->
        <!-- <form action="#" method="post">

        </form> -->
        
    </div>
</body>
</html>