{% extends "base.html" %}

{% block basicSearch %}
<h2> <a class="simpleSearch" href = "/"> Basic Search </a></h2>
{% endblock %}

{% block content %}
<p>lists of volume</p>
<div class="searchBar">
    <form action= "#" method="POST" autocomplete=off>
        <input id="MySearchTerm" type="text", name="query", onkeydown="AutoComplete()">
        <input type="submit" value="search">
    </form>
    <script type="text/javascript" src="../static/javascript/AutoComplete.js" defer> </script>
</div>

{% endblock %}